<form method="post" action="{{ path('app_point_de_vente_delete', {'id': point_de_vente.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ point_de_vente.id) }}">
    <button class="btn">Delete</button>
</form>
