{% extends 'base.html.twig' %}

{% block title %}New CommandeFrs{% endblock %}

{% block body %}
    <h1>Create new CommandeFrs</h1>

    {{ include('commande_frs/_form.html.twig') }}

    <a href="{{ path('app_commande_frs_index') }}">back to list</a>
{% endblock %}
