{% extends 'base.html.twig' %}

{% block title %}New ModelSignataire{% endblock %}

{% block body %}
    <h1>Create new ModelSignataire</h1>

    {{ include('model_signataire/_form.html.twig') }}

    <a href="{{ path('app_model_signataire_index') }}">back to list</a>
{% endblock %}
